
<!--footer-->
<div class="footer">
    <div class="container">
        <div class="phone clearFloat">
            <div class="wmBox">
                <img src="images/move_2wm.png" alt="" class="fullWidth">
            </div>
            <div class="address">
                <h1>
                    <span class="iconfont">&#xe611;</span>
                    <span>400-666-7863</span>
                </h1>
                <p>公司地址：江苏省苏州市工业园区新平街388号腾飞苏州创新园A2座9F</p>
            </div>
        </div>
        <!--版权-->
        <p class="copy">
            本站所有图片均有上元教育公司授权发布，侵权必究。 &nbsp; Copyright 2014-2017
            Powered by SyeduGroup.com 苏州上元教育科技有限公司 All Rights Reserved.
        </p>
    </div>
</div>