<!--header-->
<div class="header">
    <div class="container nav">
        <!--logo-->
        <div class="logo">
            <div class="logoBox">
                <a href="##">
                    <img src="images/logo.png" alt="" class="fullWidth">
                </a>
            </div>
            <!--校区选择-->
            <div class="chose">
                <div class="triggerSchool">
                    <span>「</span>
                    <a href="" class="school">切换校区</a>
                </div>
                <!--校区隐藏区域-->
                <ul class="schoolList">
                    <li class="clearFloat">
                        <div class="province">北京</div>
                        <div class="city">
                            <a href="" class="schoolName"><span class="underline">北京校区</span></a>
                        </div>
                    </li>
                    <li class="clearFloat">
                        <div class="province">上海</div>
                        <div class="city">
                            <a href="" class="schoolName"><span class="underline">嘉定校区</span></a>
                            <a href="" class="schoolName"><span class="underline">浦东校区</span></a>
                            <a href="" class="schoolName"><span class="underline">松江校区</span></a>
                            <a href="" class="schoolName"><span class="underline">川沙校区</span></a>
                        </div>
                    </li>
                    <li class="clearFloat">
                        <div class="province">江苏</div>
                        <div class="city">
                            <a href="" class="schoolName"><span class="underline">南京市区校区</span></a>
                            <a href="" class="schoolName"><span class="underline">南京江宁校区</span></a>
                            <a href="" class="schoolName"><span class="underline">苏州校区</span></a>
                            <a href="" class="schoolName"><span class="underline">苏州园区校区</span></a>
                            <a href="" class="schoolName"><span class="underline">苏州石路校区</span></a>
                            <a href="" class="schoolName"><span class="underline">苏州新区校区</span></a>
                            <a href="" class="schoolName"><span class="underline">苏州吴中校区</span></a>
                            <a href="" class="schoolName"><span class="underline">苏州相城校区</span></a>
                            <a href="" class="schoolName"><span class="underline">苏州吴江校区</span></a>
                            <a href="" class="schoolName"><span class="underline">无锡崇安校区</span></a>
                            <a href="" class="schoolName"><span class="underline">无锡新区校区</span></a>
                            <a href="" class="schoolName"><span class="underline">无锡惠山校区</span></a>
                            <a href="" class="schoolName"><span class="underline">江阴校区</span></a>
                            <a href="" class="schoolName"><span class="underline">川沙校区</span></a>
                            <a href="" class="schoolName"><span class="underline">川沙校区</span></a>
                            <a href="" class="schoolName"><span class="underline">川沙校区</span></a>
                            <a href="" class="schoolName"><span class="underline">川沙校区</span></a>
                            <a href="" class="schoolName"><span class="underline">川沙校区</span></a>
                            <a href="" class="schoolName"><span class="underline">川沙校区</span></a>
                            <a href="" class="schoolName"><span class="underline">川沙校区</span></a>
                            <a href="" class="schoolName"><span class="underline">川沙校区</span></a>
                            <a href="" class="schoolName"><span class="underline">川沙校区</span></a>
                            <a href="" class="schoolName"><span class="underline">川沙校区</span></a>
                        </div>
                    </li>
                    <li class="clearFloat">
                        <div class="province">浙江</div>
                        <div class="city">
                            <a href="" class="schoolName"><span class="underline">南京市区校区</span></a>
                            <a href="" class="schoolName"><span class="underline">南京江宁校区</span></a>
                            <a href="" class="schoolName"><span class="underline">苏州校区</span></a>
                            <a href="" class="schoolName"><span class="underline">苏州园区校区</span></a>
                            <a href="" class="schoolName"><span class="underline">苏州石路校区</span></a>
                            <a href="" class="schoolName"><span class="underline">苏州新区校区</span></a>
                            <a href="" class="schoolName"><span class="underline">苏州吴中校区</span></a>
                            <a href="" class="schoolName"><span class="underline">苏州相城校区</span></a>
                            <a href="" class="schoolName"><span class="underline">苏州吴江校区</span></a>
                            <a href="" class="schoolName"><span class="underline">无锡崇安校区</span></a>
                            <a href="" class="schoolName"><span class="underline">无锡新区校区</span></a>
                            <a href="" class="schoolName"><span class="underline">无锡惠山校区</span></a>
                            <a href="" class="schoolName"><span class="underline">江阴校区</span></a>
                        </div>
                    </li>
                    <li class="clearFloat">
                        <div class="province">安徽</div>
                        <div class="city">
                            <a href="" class="schoolName"><span class="underline">滁州校区</span></a>
                            <a href="" class="schoolName"><span class="underline">芜湖校区</span></a>
                            <a href="" class="schoolName"><span class="underline">马鞍山校区</span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--搜索框-->
        <div class="search">
            <input type="text" placeholder="输入您想要了解的课程" id="text" oninput="onInput()">
            <a href="javascript:;" class="iconfont searchBtn" target="_blank">&#xe656;</a>
            <ul class="searchCode">
                <li class="codes"></li>
            </ul>
        </div>
        <!--下拉菜单-->
        <div class="dropdown">
            <p class="iconfont">&#xe78e;</p>
            <ul class="dropdown_list">
                <li>
                    <a href="##" class="headerBtn">新闻资讯</a>
                </li>
                <li>
                    <a href="##" class="headerBtn">关于我们</a>
                </li>
                <li>
                    <a href="##" class="headerBtn">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
    <!--表单提交信息提示窗口-->
    <div class="messageWindow" id="messageWindow">
        <div class="hide">
            <button class="iconfont hidden">&#xe638;</button>
        </div>
        <div class="messageSuccess">
            <p class="success clearFloat">
                <span class="iconfont">&#xe65f;</span>
                <span class="text">提交信息成功！</span>
            </p>
            <p>恭喜您提交成功</p>
            <p>我们的老师将在3个工作日内联系您，请您保持电话畅通！</p>
        </div>
        <div class="affirm">
            <a href="##" class="btnHide hidden">我知道了</a>
        </div>
    </div>
</div>
<script>
    function onInput() {
        var props = $('#text').val()
        $('.codes').html(props)
        if($('.codes').html()){
            $('.searchCode').show()
        }else{
            $('.searchCode').hide()
        }
    }
    $(function () {
        $(window).keyup(function (e) {
            if(e.keyCode===13){
                if($('#text').val()){

                }
            }
        })
        // 弹出窗关闭
        $('.hidden').click(()=>{
            $('.messageWindow').hide()
            $('input').val('')
        })
    })
</script>